/* src/components/FilterBar.css */

.filter-bar {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.filter-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-tag {
  display: flex;
  align-items: center;
  background-color: #eef6f6;
  border-radius: 5px;
  overflow: hidden;
}

.filter-tag span {
  padding: 5px 10px;
  color: #5ba4a4;
  font-weight: bold;
}

.remove-btn {
  background-color: #5ba4a4;
  border: none;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 20px;
}

.remove-btn:hover {
  background-color: #2c3a3a;
}

.clear-btn {
  background: none;
  border: none;
  color: #7b8e8e;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s;
}

.clear-btn:hover {
  color: #5ba4a4;
}
